<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planning!</title>
</head>
<body>
    <a href="/meal">
        home
    </a>
    <a href="/meal/kitchen/">
        Kitchen
    </a>
    <a href="{% url 'plan' %}">
        Plan
    </a>  
    <a href="{% url 'shopping' %}">
        Shopping List
    </a>
    <form class="form-inline" action="{% url 'add' %}" method='POST'>
        {% csrf_token %}
        <input class='form-control mr-sm-2' type='textfield' autocomplete="off" placeholder="Add Recipe" name='url'>
        <input type='submit' class='btn btn-outline-success my-2 my-sm-0' value='Add'>
    </form>
</body>
</html>