{% include 'baseLayout.html' %}
<body>
    <div>
        <div class="container">   
            <div class="row row-cols-2">
                {% for x in meals %}
                    <a href="{% url 'meal' x.title %}" class='linkss'>
                        <div>
                            <div class="col" style="max-width:25vw;">
                                <img class="card-img-top" src={{x.imageUrl}} alt={{x}}>
                                <div class="card-body">
                                <h5 class="card-title">{{x}}</h5>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>